@import url("main.css");

hr{
    border: 1px solid;
    border-color: #D8D8D8;
    color: #D8D8D8;
}

ul{
    font-family: 'chivo-regular';
    font-size: 16px;
    line-height: 30px;
    padding: 20px;
}

ol{
    font-family: 'chivo-regular';
    font-size: 16px;
    line-height: 30px;
    padding: 20px;
}