.hero{
    box-sizing: border-box;
    text-align: center;
    overflow-y: hidden;
    overflow-x: visible;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-alt{
    box-sizing: border-box;
    max-width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-higher{
    margin-top: -61px;
    z-index: -1;
}

.hero hr{
    display: inline-block;
    min-width: 76.5vw;;
    position: relative;
    top: 60px;
    z-index: -1;
}

.hr-home{
    display: inline-block;
    min-width: 76.5vw;;
    position: absolute;
    top: 170px;
    z-index: -1;
}

.hero-img img{
    width: 9vw;
    max-width: 160p;
    min-width: 100px;
    border-radius: 100%;
}

.img-smaller img{
    max-width: 120px;
}

.hero-date{
    color: #aeaeae;
    margin-top: 0;
}

.hero-heading{
    font-family: 'robotoslab-bold';
    font-size: 40px;
    margin-top: 20px;
    max-width: 49.2%;
    margin-left:  auto;
    margin-right: auto;
}

.hero-subheading{
    font-family: 'chivo-regular';
    color: #aeaeae;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 0;
}

.delim{
    width: 2px;
    height: 2px;
    background-color: #aeaeae;
    border-radius:  100%;
    margin-left: 10px;
    margin-right: 10px;
}

.hero-description p{
    font-family: 'chivo-regular';
    color: #222222;
    font-size: 18px;
    line-height: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.generic-hero-description{
    font-family: 'chivo-regular';
    text-align: center;
    min-width: 100%;
    margin-top:40px;
}

.bg-img-banner{
    z-index: -20;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
}

.hero-bg-img{
    z-index: -21;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 800px){
    .hero{
        min-width: 100%;
    }
    .hr-home{
        top: 130px;
    }

    .hero-heading{
        font-size: 28px;
        min-width: 100%;
    }

    .hero-higher hr{
        opacity: 0;
    }
}

@media screen and (max-width: 500px){
    .hero-higher{
        padding-top: 90px;
    }

    .bg-img-banner{
        top: 130px;
    }
}