.hero{
    box-sizing: border-box;
    text-align: center;
    overflow-y: hidden;
    overflow-x: visible;
    max-width: 48%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-alt{
    box-sizing: border-box;
    max-width: 100vw;
    flex-wrap: wrap;
    overflow: visible;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15%;
    margin-right: -15%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.hero-alt::-webkit-scrollbar {
    width: 0 !important
}

.hero-higher{
    margin-top: -61px;
    z-index: -1;
}

.hero-higher hr{
    margin-top: -100px;
}

.hero hr{
    display: inline-block;
    min-width: 76.5vw;;
    position: relative;
    top: 60px;
    z-index: -1;
}

.hr-home{
    display: inline-block;
    min-width: 76.5vw;;
    position: absolute;
    top: 170px;
    z-index: -1;
}

.hero-img img{
    width: 9vw;
    max-width: 160p;
    min-width: 100px;
    border-radius: 100%;
}

.img-no-bg img{
    margin-left: -100vw;
}

.img-smaller img{
    max-width: 120px;
}

.hero-date{
    color: #aeaeae;
    margin-top: 0;
}

.hero-heading{
    font-family: 'robotoslab-bold';
    letter-spacing: -0.5px;
    line-height: 54px;
    font-size: 40px;
    margin-top: 20px;
    min-width: 54%;
    max-width: 60%;
    margin-left:  auto;
    margin-right: auto;
}

.shadowed{
    text-shadow: 0 4px 20px rgba(0,0,0,0.50);
}

.hero-subheading{
    font-family: 'chivo-regular';
    color: #aeaeae;
    font-size: 20px;
    max-width: 60%;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.delim{
    width: 2px;
    height: 2px;
    background-color: #aeaeae;
    border-radius:  100%;
    margin-left: 10px;
    margin-right: 10px;
}

.hero-description p{
    font-family: 'chivo-regular';
    color: #222222;
    font-size: 18px;
    line-height: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.generic-hero-description{
    font-family: 'chivo-regular';
    text-align: center;
    min-width: 100%;
    margin-top:40px;
}

.bg-img-banner{
    z-index: -20;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    margin-left: -10%;
    margin-right: -100%;
}

.hero-bg-img{
    z-index: -21;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 110vw;
    min-height: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1200px){
    .hero{
        margin-top: 60px;
    }
}

@media screen and (max-width: 800px){
    .bg-img-banner{
        max-height: 110px !important;
        min-height: 110px !important;
    }

    .hero-bg-img{
        max-height: 110px !important;
        min-height: 110px !important;
        object-fit: cover;
    }

    .hero{
        min-width: 100%;
        padding: 30px;
    }
    .hr-home{
        top: 130px;
    }

    .hero-heading{
        font-size: 28px;
        min-width: 100%;
        margin-top: 33px;
    }

    .hero-higher hr{
        opacity: 0;
    }

    .hero-heading{
        color: #222222 !important;
    }

    .hero-date{
        color: #AAAAAA !important;
    }

    .hero-subheading{
        color: #888888 !important;
        max-width: 100%;
    }

    .tags{
        margin-top: 32px !important;
    }

    .tag{
        color: #888888 !important;
    }

    .delim{
        background-color: #888888 !important;
    }

    .shadowed{
        text-shadow: none;
    }
}

@media screen and (max-width: 500px){
    .hero-higher{
        padding-top: 90px;
    }

    .bg-img-banner{
        top: 130px;
    }
}