@import url("main.css");

a{
    text-decoration: none;
    color: black;
}

.posts{
    display: flex;
    margin-top: 90px;
    margin-bottom: 120px;
}

.posts-list{
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: streatch;
    align-items: streatch;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

pl-grid{
    align-items: stretch;
}

.post-date{
    font-family: 'chivo-regular';
    font-size: 13px;
    color: #aaaaaa;
    line-height: 30px;
    border-bottom: 1px solid;
}

.post-date-no-line{
    font-family: 'chivo-regular';
    font-size: 13px;
    color: #aaaaaa;
    line-height: 30px;
    margin-bottom: 5px !important;
}

.post-date-alt{
    font-family: 'chivo-regular';
    font-size: 12px;
    color: rgba(255,255,255,0.70);
    letter-spacing: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 41px;
}

.first-post{
    box-sizing: border-box;
    overflow: hidden;
    flex: 1 0 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.first-post-content{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.first-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.post{
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 25%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.post-grid{
    flex: 1 0 33% !important;
}

.post-list{
    overflow: hidden;
    flex: 1 0 100% !important;
    margin-bottom: 47px;
}

.post-header{
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: relative;
}

.post-header-list{
    max-width: 60%;
}

.post-header-grid{
    min-height: 190px;
    height:  50%;
}

.post-heading{
    font-family: 'robotoslab-bold';
    font-size: 22px;
    width: 100%;
}

.post-heading-list{
    font-family: 'robotoslab-bold';
    font-size: 22px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 12px;
}

.post-heading-alt{
    font-family: 'robotoslab-bold';
    color: white;
    width: 100%;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
    line-height: 28px;
}

.short-width{
    max-width: 60%;
}

.first-post-heading{
    font-family: 'robotoslab-bold';
    font-size: 26px;
    max-width: 40%;
}

.post-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.post-img-alt{
    display: inline;
    float: right;
    word-wrap: normal;
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 8px;
    top: 55px;
    object-fit: cover;
    min-height: 100%;
}

.excerpt{
    font-family: 'chivo-regular';
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 70px;
}

.excerpt-alt{
    max-width: 67%;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100px;
    position: relative;
}

.excerpt a{
    font-family: 'chivo-reguklar';
    text-decoration: none;
    color: #009EFF;
    font-size: 14px;
    margin-left: 5px;
}

.color1{
    background-color: #362C21;
}

.color2{
    background-color: #363421;
}

.color3{
    background-color: #16251F;
}

.color4{
    background-color: #1A1A27;
}

.color5{
    background-color: #352022;
}

.color6{
    background-color: #161E23;
}

.color7{
    background-color: #321F23;
}

@media screen and (max-width: 1500px){
    .posts{
        display: block;
    }

    .post-header{
        display: inline-block;
        height: auto;
    }

    .first-post-content{
        display: inline-block;
        height: auto;
    }

    .first-post{
        display: inline-block;
        max-height: auto;
    }

    .post{
        display: inline-block;
        max-height: auto;
    }
}

@media screen and (max-width: 1200px){
    .posts-list{
        flex-direction: row;
    }

    .first-post{
        min-width: 100%;
        display: inline-block;
    }

    .post{
        min-width: 50%;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px){
    .excerpt-alt{
        max-width: 100%;
    }

    .post-img-alt{
        display: block;
        max-height: 200px;
        float:none;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 800px){
    .posts-list{
        flex-direction: column;
    }

    .first-post{
        min-width: 100%;
        display: block;
    }

    .post{
        min-width: 100%;
        display: block;
    }
}