<!-- NAV -->
<header class="nav">
    <div class="nav-logo"><a class="logo-link" href="{{ site.baseurl }}"><h1>{{ site.title }}</h1></a></div>
    <ul class="nav-items">
        {% for item in site.menus.main %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>

    <button id="menu-button" type="button"><hr /><hr /><hr /></button>

    <div id="menu">
        <ul class="menu-items">
            <li><a href="#" class="close-menu">Menu<span id="cm" class="close"><i class="fas fa-times"></i></span></a></li>
            {% for item in site.menus.main %}
                <li class="menu-link"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>