
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% if page.template == "home" %}
    <link rel="stylesheet" href="{{ 'assets/css/index.css' | relative_url }}" />
{% endif %}
<link rel="stylesheet" href="{{ 'assets/css/footer.css' | relative_url }}" />
<link rel="stylesheet" href="{{ 'assets/css/header.css' | relative_url }}" />
<link rel="stylesheet" href="{{ 'assets/css/hero.css' | relative_url }}" />
{% if page.template == "basic" or page.template == "contact" %}
    <link rel="stylesheet" href="{{ 'assets/css/basic.css' | relative_url }}" />
{% endif %}
{% if page.template == "contact" %}
    <link rel="stylesheet" href="{{ 'assets/css/form.css' | relative_url }}" />
{% endif %}
<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />