@import url("main.css");

form{
    font-family: 'chivo-regular';
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

form span{
    margin-top: 20px;
    margin-bottom: 0;
}

input{
    font-family: 'chivo-regular';
    font-size: 16px;
    color: #888888;
    letter-spacing: 0;
    width: 50%;
    height: 50px;
    border: 1px solid #cccccc;
    margin-top: 10px;
}

input:focus{
    outline: none;
    border: 1px solid #56baff;
}

textarea{
    font-family: 'chivo-regular';
    font-size: 16px;
    color: #888888;
    letter-spacing: 0;
    max-width: 100%;
    height: 150px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    resize: none;
}

textarea:focus{
    outline: none;
    border: 1px solid #56baff;
}

#send-btn{
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: black;
    width: 25%;
    margin-top: 40px;
}

@media screen and (max-width: 800px){
    input{
        width: 100%;
    }

    #send-btn{
        width: 100%;
    }
}